*{
  margin:0;
  padding:0;
}

/*estilos nav*/
.navbar .navbar-default-static-top{
	color:#E56464;
}
body {
    background: #fff;
    color: #555;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 1px auto;
}
.navbar {
    position: relative;
    min-height: 74px;
    margin-bottom: -2px;
    border: 1px solid transparent;
    
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}
.navbar-toggle span{
	color: black;
}
.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #0C0C0C;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin: -9%;
    margin-top: 22px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.titu{
	font-size: 45px;
	margin-left: 10px;

}
.menu{
	margin-left: 74px;
}
.fondo{
	background-image: url(../img/12ehc6fxpyg-eaters-collective.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding:20%;
	padding-bottom: 10%;
}
.txtx{
	text-align: left;
	margin-left: -23%;
  font-size: 20px;

}
.txtx h1{
  margin-left: -88%;
}
.btn {
    display: inline-block;
    padding: 8px 36px;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*receta
/*efecto img*/

img .efec{
    width:450px;
    height:auto;
    border:5px solid #c5c5c5;
    border-radius: 4px;


  }
  h3 { margin:150px auto 30px auto; text-align:center}

/*efecto slaider*/
#slider-container {
  height: 600px;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 150%;

}

#sldier {
  height: 100%;
  width: 150%;
}

#slider .slide img {
	width: 150%;
  height: 100%;
  width: auto;
}

#prev, #next {
  cursor: pointer;
  max-width: 60px;
  opacity: 0;
  position: absolute;
  top: 45%;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 999;
}

#prev { left: 0; }

#next { right: 0; }

#slider-container:hover #prev, #slider-container:hover #next { opacity: .7; }

.slide {
  position: absolute;
  width: 105%;
}

.slide-copy {
  background: #777;
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 28px 33px;
  margin-bottom: 108px;
  position: absolute;
}

.slide-copy-copy {
  background: #777;
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 28px 33px;
  margin-bottom: 108px;
  position: absolute;
}

/*efecto muchas fotos*/

.boby{
  background: #e9e9e9;
}
.contenedor{
  width:90%;
  margin:15px auto;
}
.cosa{
  width:220px;
  background: #D6D3D6;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
 box-shadow: 0, 1px, 2px, 0, rgba(0,0,0,0.22)

}
.cosa img{
  width:100%;

}


/*efecto nuevo segundo intento 2.0*/
#body {
  background: rgb(245,245,245);
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-family: 'Roboto';
  font-weight: lighter;
  color: rgba(0,0,0,0.6);
  overflow-x: hidden;
}
#waterfall { margin: 10px; }

#waterfall li {
  /*position: absolute;*/
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
}

#waterfall li.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s, top 1s;
}

#waterfall li > div {
  color: rgba(0,0,0,0.6);
  font-size: 32px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  background: rgb(255,255,255);
  border: 1px solid rgba(038, 191, 64, 0);
  transition: all 0.5s;
   background-image: url(/img/espal.jpg);
}

#waterfall li > div:hover {
  transform: translateY(-10px);
  border: 1px solid rgba(038, 191, 64, 1);
  box-shadow: 0 10px 15px rgba(038, 191, 64, 0.1);
  transition: all 0.3s;

}
h1 {
    margin: 52px auto 30px auto;
    text-align: center;
